<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= nomePagina %></title>
    </head>
    <body>
        <h1>Bem Vindo!</h1>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel suscipit quod nihil soluta mollitia adipisci illo provident nulla odio. Illo, quaerat nam fugiat quos dignissimos quis sit aperiam corrupti nostrum.</p>
    </body>
</html>